*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--text-color: #212529;
	--background-color: #fcfcfc;
	--text-background: #ffc9c9;
	--light-text-color: #868e96;
	--font-light: 300;
}

body {
	font:
		var(--font-light) 1em "Montserrat",
		sans-serif;
	color: var(--text-color);
	display: grid;
	grid-template-columns: 250px 4fr;
}

main {
	padding: 15px 30px 0 30px;
	max-width: 900px;
}

p,
em,
a,
strike {
	font-weight: var(--font-light);
	line-height: 170%;
}

p {
	margin-block-end: 10px;
}

a {
	color: var(--text-color);
	text-decoration: underline;
	text-decoration-style: solid;
	border-radius: 4px;
	padding: 1px;
}

a:hover {
	background-color: var(--text-background);
}

hr {
	height: 1px;
	background-color: var(--text-color);
	margin-block: 25px;
}

.header {
	box-shadow:
		2px 2px 7px 2px #dee2e6,
		4px 4px 5px 6px #f1f3f5,
		7px 7px 10px 6px #f8f9fa;
}

.header .profile-picture {
	transition: transform 0.35s ease-out;
	margin-block-end: 10px;

	& > a {
		display: inline-block;
		margin-block-start: 15px;
		margin-inline-start: 25px; /* TODO */
		background-color: unset;
		margin-block-end: 8px;
	}

	& img {
		width: 200px;
		border-radius: 10px;
		transition: transform 0.1s ease-out;
	}

	& img:hover {
		transform: scale(1.075) rotateZ(-7.5deg);
	}

	& h1 {
		text-align: center;
		transition:
			color 0.1s ease-out,
			transform 0.1s ease-out;
	}

	& h1:hover {
		color: #5f3dc4;
		transform: scale(0.9);
	}
}

.header .nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
	margin-inline-end: 10px;

	& s.disabled {
		text-decoration-color: #868e96;

		& > a {
			background-color: unset;
			color: #868e96;
			cursor: not-allowed;
		}
	}
}

.header .links {
	margin-inline-start: 10px;

	& .link {
		display: flex;
		align-items: center;
		gap: 2px;
	}

	& .link > svg {
		width: 20px;
	}

	& .link > a {
		padding: 2px 4px;
	}
}

.header .footer {
	margin: 10px 0;
	text-align: center;
}

@media (prefers-reduced-motion: reduce) {
	* {
		transition-duration: 0s !important;
	}
}
