@font-face {
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/pt_mono/PTMono-Regular.woff");
}

@font-face {
	font-family: 'Geologica';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("/fonts/geologica/Geologica-Thin.woff");
}

@font-face {
	font-family: 'Geologica';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url("/fonts/geologica/Geologica_Cursive-Thin.woff");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/ibm_plex_sans/IBMPlexSans-Normal.woff");
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url("/fonts/ibm_plex_sans/IBMPlexSans-Light.woff");
}
