*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--text-color-primary: var(--oc-gray-9);
	--text-color-light: #868e96;
	--text-background-color: #ffc9c9;
}

html {
	height: 100%;
}

body {
	font-family: 'Geologica', sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 18px;
	color: var(--text-color-primary);
	line-height: 170%;
	height: 100%;
	display: grid;
	grid-template-columns: 250px 1fr;
}

.header_ {
	box-shadow:
		2px 2px 7px 2px #dee2e6,
		4px 4px 5px 6px #f1f3f5,
		7px 7px 10px 6px #f8f9fa;
	overflow: hidden;

	& a {
		color: var(--text-color-primary);
		text-decoration: none;
	}

	& a:hover {
		color: var(--text-color-primary);
		font-weight: bold;
	}
}

.header_ .profile-picture {
	transition: transform 0.35s ease-out;
	margin-block-end: 10px;

	& > a {
		display: inline-block;
		margin-block-start: 15px;
		margin-inline-start: 25px; /* TODO */
		background-color: unset;
		margin-block-end: 8px;
	}

	& img {
		width: 200px;
		border-radius: 10px;
		transition: transform 0.1s ease-out;
	}

	& img:hover {
		transform: scale(1.075) rotateZ(-3.75deg);
	}

	& h1 {
		text-align: center;
		transition:
			color 0.1s ease-out,
			transform 0.1s ease-out;
	}

	& h1:hover {
		color: var(--oc-yellow-9);
		transform: scale(1.075);
	}
}

.header_ .nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 6px;
	margin-inline-end: 10px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 200;
	font-style: normal;

	& s.disabled {
		text-decoration-color: #868e96;

		& > a {
			background-color: unset;
			color: #868e96;
			cursor: not-allowed;
		}
	}
}

.header_ .links {
	margin-inline-start: 10px;

	& .link {
		display: flex;
		align-items: center;
		gap: 2px;
	}

	& .link > svg {
		width: 20px;
	}

	& .link > a {
		padding: 2px 4px;
	}
}

.header_ .footer {
	margin: 10px 0;
	text-align: center;
}

.content_ {
	color: var(--oc-gray-7);
	line-height: 1.35;
	overflow: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	/* padding: 15px 30px 0 30px; */
	word-wrap: break-word;

	& pre {
		display: block;
		overflow-x: auto;
		border-radius: 3px;
		padding: 2px;
		border: 1px solid var(--oc-gray-5);
	}
}

.content_ pre,
.content_ code {
	/* font-family: 'Roboto Mono', monospace; */
	font-family: 'PT Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings:
		'slnt' 0,
		'CRSV' 0,
		'SHRP' 0;
	font-size: 16px;
}

.content_ ul,
.content_ ol {
	margin-inline-start: 20px;
}

.content_ hr {
	border-style: solid;
	color: var(--oc-gray-6);
}

.content_ blockquote {
	border-left: 5px solid #ccc;
	background: #f5f5f5;
	margin: 20px;
	padding-left: 10px;
}

.content_ img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.content_ p {
	margin: 15px 0 25px;
}

.content_ a {
	text-decoration: none;
	color: inherit;
	border-bottom: medium solid #f0f0f0;
	transition: border-color 600ms;
}

.content_ a:hover,
.content_ a:active {
	border-color: #606060;
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	/* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

.content_ hr {
	width: 150px;
	margin: 50px auto;
	height: 1px;
	overflow: hidden;
	border: none;
	background: #e8e8e8;
}

.content_ a {
	color: var(--text-color-primary);
	text-decoration: underline;
	text-decoration-style: solid;
	border-radius: 4px;
	padding: 1px;
}

.content_ a:hover {
	background-color: var(--text-background-color);
}

.content_ hr {
	height: 1px;
	background-color: var(--text-color-primary);
	margin-block: 25px;
}

.content_ h1,
.content_ h2,
.content_ h3,
.content_ h4,
.content_ h5 {
	font-family: 'IBM Plex Sans', sans-serif;
}

@media (prefers-reduced-motion: reduce) {
	* {
		transition-duration: 0s !important;
	}
}

@media (max-width: 800px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 200px 1fr;
	}

	.header_ {
		display: grid;
		grid-template-columns: auto 1fr;

		& .profile-picture {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0 20px;

			& a {
				margin: 0;
			}

			& img {
				width: 100px;
			}

			& h1 {
				font-size: 1em;
			}
		}

		& .nav {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			align-self: center;
			column-gap: 12px;
			row-gap: 0;
			margin: 0;
			padding-inline-end: 10px;
		}

		& .links {
			display: none;
		}

		& .footer {
			display: none;
		}
	}
}

@media (max-height: 750px) {
	.header_ .links {
		display: none;
	}
}

@media (max-height: 650px) {
	.header_ {
		line-height: 120%;
	}
}

.html_ {
	margin: 0 auto;
	max-width: 800px;
	padding: 10px;
}

.markdown_ {
	margin: 0 auto;
	max-width: 800px;
	padding: 10px;
}
