*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--text-color-primary: var(--oc-gray-7);
	--text-color-light: #868e96;
	--text-background-color: #ffc9c9;
}

html {
	height: 100%;
}

body {
	font-family: 'Geologica', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	color: var(--text-color-primary);
	line-height: 170%;
	height: 100%;
	display: grid;
	grid-template-columns: 250px 1fr;
	gap: 12px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'IBM Plex Sans', sans-serif;
}


tt, code, samp, pre, kbd {
	font-family: 'PT Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings:
		'slnt' 0,
		'CRSV' 0,
		'SHRP' 0;
	font-size: 16px;
}

pre {
	border: 1px solid var(--text-color-light)
}

a {
	color: var(--text-color-primary);
	text-decoration: underline;
	text-decoration-style: solid;
	border-radius: 4px;
}

a:hover {
	background-color: var(--text-background-color);
}

.Header {
	display: grid;
	grid-template-rows: auto 1fr auto;
	box-shadow:
		2px 2px 6px 2px #dee2e6,
		4px 4px 5px 6px #f1f3f5;

	& a {
		font-size: 20px;
	}
}

.Header .profile-picture_ {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block-end: 10px;

	& > a {
		display: inline-block;
		margin-block: 18px 8px;
		background-color: unset !important;
	}

	& img {
		width: 200px;
		border-radius: 10px;
	}

	& img:hover {
		transform: scale(1.05) rotateZ(-3.75deg);
	}

	& h1 {
		text-align: center;
	}

	& h1:hover {
		color: var(--oc-yellow-9);
		transform: scale(1.075);
	}
}

.Header .header-bottom_ {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Header .nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 6px;
	margin-inline-end: 10px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.Header .links {
	margin-inline-start: 10px;

	& .link {
		display: flex;
		align-items: center;
		gap: 2px;
	}

	& .link > svg {
		width: 20px;
	}

	& .link > a {
		padding: 2px 4px;
	}
}

.Header .footer {
	padding-block: 4px 2px;
	text-align: center;
}

.Content {
	height: 100%;
	padding-block-start: 10px;
	overflow: auto;

	& .markdown-body {
		max-width: 800px;
	}

	& main {
		padding-inline: 10px;
	}
}

@media (max-width: 800px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 200px 1fr;
	}

	.Header {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr;

		& .profile-picture_ {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0 20px;

			& a {
				margin: 0;
			}

			& img {
				width: 125px;
			}

			& h1 {
				font-size: 24px;
			}
		}

		& .header-bottom_ {
			display: flex;
			align-items: center;
			flex-direction: row;
		}

		& .nav {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			align-self: center;
			column-gap: 12px;
			row-gap: 0;
			margin: 0;
			padding-inline-end: 10px;
			height: auto;
		}

		& .links {
			display: none;
		}

		& .footer {
			display: none;
		}
	}
}

@media (max-height: 750px) {
	.Header .links {
		display: none;
	}
}

@media (max-height: 650px) {
	.Header {
		line-height: 120%;
	}
}
