.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 48px;
}

input,
button {
	font-size: 28px;
}

.letter {
	font-size: 256px;
	text-align: center;
}

.input-wrapper {
	margin-block-start: 100px;
}

.letter-wrapper .input-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.main.red {
	background-color: #ffcccc;
	transition: background-color 0.1s ease-in-out;
}
