.alphabet-main {
	padding: 10px 30px;
}
.alphabet-main.red {
	background-color: #ffcccc;
	transition: background-color 0.1s ease-in-out;
}
.alphabet {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 1.1rem;
	transition: background-color 0.1s ease-in-out;
}
.letter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
	background-color: #f0f0f0;
	color: #f0f0f0;
	border-radius: 0.5rem;
	padding-block: 10px;
	user-select: none;
	-webkit-user-select none;
}
.letter:hover {
	background-color: #e0e0e0;
	color: #e0e0e0;
	cursor: pointer;
}
