{{>__html_begin}}
	{{>__head_begin}}
		{{>head_standard}}
	{{>__head_end}}
	<body>
		{{>header}}
		<div class="Content">
			<main class="markdown-body">
				{{Body}}
			</main>
		</div>
	</body>
{{>__html_end}}
