{{>__html_begin}}
	{{>__head_begin}}
		{{>head_standard}}
	{{>__head_end}}
	<body class="html_">
		{{>header}}
		<div class="content_outer_">
			<div class="content_">
				{{Body}}
			</div>
		</div>
	</body>
{{>__html_end}}
