{{>__html_begin}}
	{{>__head_begin}}
		{{>head_standard}}
	{{>__head_end}}
	<body class="markdown_">
		{{>header}}
		<div class="content_outer_">
			<main class="content_">
				{{#if Title}}
				<h1>{{Title}}</h1>
				{{/if}}
				{{#if __frontmatter.title}}
				<h2>{{__frontmatter.author}}</h2>
				{{/if}}
				{{#if __date}}
				<h4>{{__date}}</h4>
				{{/if}}
				{{Body}}
			</main>
		</div>
	</body>
{{>__html_end}}
