@font-face {
    font-family: 'proxima-nova';
    src: url('/assets/proxima-nova-soft.woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  color: var(--oc-gray-8);
  font-family: proxima-nova;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--oc-gray-0);
}

:root {
  --project-height: 33vw;
  --project-width: calc(var(--project-height) * 4 / 3);
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  min-height: 100px;
  max-height: 200px;
  background-color: lightgoldenrodyellow;
}

main {
  position: relative;
  display: grid;
}

main article {
  position: relative;
  width: 100%;
  height: 300px; /* auto later */
  border: 1px solid midnightblue;
}


@media(min-width: 900px) {
  main {
    display: grid;
    grid-template-rows: repeat(3, calc(var(--project-height) * 2 / 3));
    padding-top: calc(var(--project-height) * 0 / 3);
    padding-bottom: calc(var(--project-height) * 0 / 3);
  }

  main article {
    width: var(--project-width);
    height: var(--project-height);
  }

  main article:nth-child(odd) {
    justify-self: end;
  }

  .organic-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #FF0099;
    background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
    /* border-radius: 33% 67% 70% 30% / 73% 45% 55% 27%; */
    animation: organic-shape-move 10s ease-in-out 0s infinite alternate both running;
  }

  .card {
    --size: 90%;
    --margin: 20px;

    position: absolute;
    top: calc((100% - var(--size)) / 2);
    left: calc((100% - var(--size)) / 2);
    width: var(--size);
    height: var(--size);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--oc-gray-0);
    border: 1px solid var(--oc-gray-3);
    box-shadow: 2px 2px 10px var(--oc-gray-3);
  }

  .card section {
    width: calc(100% - var(--margin));
    height: calc(100% - var(--margin));
    overflow: hidden;
  }

  main article:nth-child(even) .card {
    perspective: 10000px;
    transform: rotate3D(0, 0, 0, -30deg);
  }
}

/* keyframes */
@keyframes organic-shape-move {
  0% {
    border-radius: 33% 67% 70% 30% / 73% 45% 55% 27%;
  }
  50% {
    border-radius: 70% 30% 56% 44% / 65% 68% 32% 35%;
  }
  100% {
    border-radius: 72% 28% 74% 26% / 39% 76% 24% 61%;
  }
}


/* to be removed */
main {
  /* background-color: lightblue; */
  /* border: 1px solid olivedrab; */
}

article:nth-child(odd) {
  /* background-color: papayawhip; */
}

article:nth-child(even) {
  /* background-color: oldlace; */
}

h2 {
  font-size: 4rem;
}

svg {
  fill: blue;
  width: 50vw;
}
