{{>__html_begin}}
	{{>__head_begin}}
		{{>head_standard}}
	{{>__head_end}}
	<body class="markdown_">
		{{>header}}
		<div class="Content">
			<main class="markdown-body">
				{{#if Title}}
				<h1>{{Title}}</h1>
				{{/if}}
				{{#if __frontmatter.author}}
				<h3 style="margin-block: 0 2px; font-weight: 400">Authored by {{__frontmatter.author}}</h3>
				{{/if}}
				{{#if __date}}
				<h4 style="margin-block: 0 16px; font-weight: 400">Published on {{__date}}</h4>
				{{/if}}
				{{Body}}
			</main>
		</div>
	</body>
{{>__html_end}}
